* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 16px !important;
}
/*
.shrink {
	position: absolute !important;
	top: 5%;
	left: 3%;
	z-index: 999;
	//flex-direction: column !important;
	transition: all 2s ease !important;
}

.shrink1 {
	flex-direction: column !important;
	transition: all 2s ease !important;
}*/




@media (min-width : 768px) {

	.shrink {
		position: fixed !important;
		top: 5%;
		left: 3%;
		z-index: 999;
		//flex-direction: column !important;
		transition: all 2s ease !important;
	}

	.shrink1 {
		flex-direction: column !important;
		transition: all 2s ease !important;
	}

	.shrink1 > a {
		transition: all 2s ease !important;
	}

	.abs-pos {
		position: absolute !important;
		top: 5%;
		left: 3%;
		z-index: 999;
		flex-direction: column !important;
		transition: all 2s ease !important;
	}

	.abs-pos > a {
		border: solid grey 1px;
		color: black !important;
		transition: all 2s ease !important;
	}

	#banner1 > a {
		text-align: center;
	}
}

@media (min-width : 992px) and (max-width : 1199px) {

	.shrink {
		left: 2%;
	}
	.abs-pos {
		left: 2%;
	}
}

@media (min-width : 768px) and (max-width : 991px) {

	.shrink {
		left: 1%;
	}
	.abs-pos {
		left: 1%;
	}
}


@media (max-width : 767px) {


	#banner {
		position: absolute;
		width: 100%;
		overflow: visible;
		z-index: 999;
	}

	#banner1 > a{
		text-align: center;
		//border-top: solid white 1px;
	}

	.first-child-link {
		border-top: solid white 1px;
		margin-top: 1%;
	}
}


