#map-div {
	height: 20rem;
	padding: 0;
}

#google-map {

	width: 100%;

	margin: 0;

	padding: 0;

	height: 20rem;

	//background-color: rgb(80, 80, 80);

}

.contact-phone > address a{
	color: white;
}

.contact-phone > h6 {
	color: white;
}

.contact-address > h6 {
	color: white;
}

.footer-links {
	max-width: 150px;
	justify-content: space-between;
	align-items: center;
}

.footer-links > a > img {
	height: 40px;
	width: 40px;
}

#footer-link-divider {
	font-size: 2rem !important;
}

@media (min-width : 992px) {
	#footer-info {
		font-size: 1.1rem;
		line-height: 2.5rem;
	}
}

@media (min-width : 768px) and (max-width : 991px) {

	#footer-info {
		line-height: 1.7rem;
	}
}