#map-div {
	height: 20rem;
	padding: 0;
}

#google-map {

	width: 100%;

	margin: 0;

	padding: 0;

	height: 20rem;

	//background-color: rgb(80, 80, 80);

}

@media (min-width : 768px) {

	#footer-info {
		line-height: 1.7rem;
	}
}